<div class="formCreateUser">
    <div>
        <h1 class="title">CREAR USUARIO</h1>
    </div>
    <div class="space">
        <form>
            <div class="fields">
                <label for="name">NOMBRE</label>
                <input id="name" placeholder="Nombre de usuario">
            </div>
            <div class="fields">
                <label for="email">CORREO</label>
                <input id="email" placeholder="Correo electrónico">
            </div>
            <div class="fields">
                <label for="role">ROL</label>
                <select id="role" placeholder="Nombre de usuario">
                    <option value="">Selecciona un rol</option>
                    <option value="admin">ADMIN</option>
                    <option value="editor">EDITOR</option>
                    <option value="viewer">VIEWER</option>
                </select>
            </div>
            <div class="fields">
                <label for="status">ESTADO</label>
                <select id="status" placeholder="Nombre de usuario">
                    <option value="">Selecciona un estado</option>
                    <option value="active">ACTIVO</option>
                    <option value="inactive">INACTIVO</option>
                </select>
            </div>
        </form>
    </div>
    <div class="buttonsOptions">
        <button class="cancelButton" type="button" (click)="onCancel()">Cancelar</button>
        <button class="saveButton" type="submit" (click)="onSave()">Guardar</button>

    </div>
</div>