<mat-card class="login-card">
    
    <div class="logoImg">
        <img class="imgStyle" src="icon-administrator.png" alt="logotipo plataforma de administracion de empresas">
    </div>
    
    <h1 class="title">Iniciar sesión</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo electronico</mat-label>
            <input matInput type="email" formControlName="email" placeholder="admin@admin.com">
            @if (isMailInvalid()) {
            <mat-error>Correo invalido</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" placeholder="12345678">
            @if (isPassword()) {
            <mat-error>Contraseña invalida</mat-error>
            }
        </mat-form-field>

        <button type="submit" class="login-button" [disabled]="loading()">
            @if (!loading()) {
            Iniciar sesión
            }
            @if (loading()) {
                <div class="custom-spinner">
                    <mat-spinner diameter="25"></mat-spinner>
                </div>
            }
        </button>
    </form>
</mat-card>